/* Container de bază pentru componentă */
.skype-container {
  padding: 0px 20px 20px;
  height: auto;
  position: relative;
  border-radius: 8px;
  width: 100%;
}

.skype-container .left,
.skype-container .right {
  width: 49%;
}

.skype-container .right .touchpad-container {
  width: 100%;
  height: 50vh;
}


.App.fullscreen .skype-container .right .touchpad-container {
  height: 52vh;
}


/* Stil pentru titlul aplicației */
.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  color: 0061ac;
}

.holder-skype {
  display: flex;
  justify-content: space-between !important;
}

/* Stil de bază pentru butoane */
.button {
  background: none;
  border: none;
  color: #ffffff;
  text-align: left;
  padding: 10px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s ease-out;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.7);

  height: 60px;
}

.button svg {
  margin-right: 10px;
}

.button-group.chats {
  border:solid 1px rgba(255,255,255,0.4);
  padding:5px;
  border-radius:5px;
  justify-content: space-between !important;
}

/* Container pentru prima linie de butoane */
.button-row {
  grid-template-columns: repeat(2, 1fr); /* 2 coloane egale */
  gap: 17px;
  margin: 20px 0px 10px;
}
.first-line {
  display: flex;
    gap: 10px;
    margin-bottom:10px;
}
/* Container pentru a doua linie de butoane */
.second-line {
  gap: 10px;
}

/* Container pentru grupuri de butoane din secțiunea "Chats" */
.button-group.chats {
  margin-bottom: 20px;
}
.button-group-chats0,
.button-group-chats1,
.button-group-chats2 {
  width: 100%;
  display:flex;
  gap:10px;
}
/* A doua linie din secțiunea "Chats" */
.button-group.chats .second-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 coloane egale */
  gap: 10px;
  margin-top: 10px;
}
.button.contacts-button {
  display:none;
}
/* Container pentru grupuri de butoane din secțiunea "Contacts" */
.button-group.contacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 coloane egale */
  gap: 10px;
}


/* Stiluri pentru mesajele de eroare */
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.button.answer-call-button,
.button.video-call-button,
.button.audio-call-button {
  background-color: rgba(40, 167, 69, 0.7);
  margin-bottom:10px;
}

.button.close-skype-button,
.button.hang-up-button {
  background-color: rgba(217, 48, 37, 0.7);
}

.button.chats-button,
.button.open-skype-button,
.button.next-conversation-button,
.button.previous-conversation-button,
.button.camera-button,
.button.mute-button{
  background-color: #0061ac;
}

.button.next-conversation-button svg{
  transform: rotate(90deg);
}
.button.previous-conversation-button svg{
  transform: rotate(90deg);
}

.App.fullscreen .skype-container .button-row {
  margin:45px 0px 10px;
}
.App.fullscreen .skype-container .touchpad-container {
  margin:45px 0px 10px;
}

.App.fullscreen .skype-container .keyboard-toggle.keyboard-open  {
 left:75%;
 bottom:0px;
}